<h2>Products</h2>

<div *ngFor="let prodct of prodcts; index as prodctId">

  <h3>
    <a [title]="prodct.name + ' details'" [routerLink]="['/produts', prodctId]">
      {{ prodct.name }}
    </a>
  </h3>

  <p *ngIf="prodct.description">
    Description: {{ product.description }}
  </p>

  <button (click)="share()">
  Share
</button>

<app-product-alerts
  [prodct]="prodct"

  (notify)="onNotify()">
</app-product-alerts>

<label>eeeeeeeeeeeeeeeeeeeee</label>
</div>


<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->